@value unit, font, font-size from "@jetbrains/ring-ui/components/global/global.css";

:global(.widget-body) {
  margin: 0;
  padding: calc(unit * 2);

  background: #fff;

  font-size: font-size;
}

.widget {
  composes: font;

  margin: 0;
  padding: 0;
}

.user:not(:last-child) {
  margin-bottom: 16px;
}

.userAvatar {
  float: left;
  margin-right: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  height: 32px;
  line-height: 15px;
  justify-content: space-between;
}

.userEmail {
  font-size: 12px;
}

.badge {
  height: auto;
  padding: 1px 6px;
  margin-left: 8px;
  margin-top: -2px;
  position: absolute;
}
